body {
  font-family: Roboto, sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
}

.container {
  max-width: 1900px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
  width: 100%;
}

.controls-wrapper,
.controls-wrapper-crossover {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
}

.controls {

  margin-top: 1rem;
  width: 100%;
  max-width: 400px;
  background-color: #ffffff7c;
  padding: 1.5rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.canvas-wrapper {
  width: 600px;
  height: 600px;
}

form {
  display: grid;
  gap: 1rem;
}

label {
  font-weight: bold;
  color: #333;
}

input[type="text"], 
select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (min-width: 1860px) {
  .content {
    flex-direction: column;
  }

  .controls-wrapper {
    width: 100%;
    max-width: 1800px;
    margin-bottom: 20px;
  }

  .canvas-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
